$main-bgc: #f6f6f6;
$color-white: #fff;
$text-color-1: #282828;
$text-color-2: #2c303d;
$new-price-color: #ce2c52;
$massanger-border-color: #2c87ce;
$share-hover-color: #145d96;
$size-border-color: #ccc;
$select-color-1: #77d8e7;
$select-color-1: #77d8e7;
$select-color-2: #96c795;
$select-color-3: #ce92a1;
$select-color-4: #aa93cf;
$select-color-1-hover: rgba(119 216 231 / 50%);
$select-color-2-hover: rgba(150 199 149 / 50%);
$select-color-3-hover: rgba(206 146 161 / 50%);
$select-color-4-hover: rgba(170 147 207 / 50%);
$decoration-color: #8ae6cf;
$decoration-color-light: rgba(138 230 207 / 80%);
$button-bgc-hover: #5aa895;
$transition-duration: 0.3s;
